name: Render

on:
  push:
    branches:
      - master
  pull_request:
    branches: [master]
    types: [opened, synchronize]

jobs:
  full:
    name: Docker on Render
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build Image with Testing
        run: docker build --build-arg DB_URL_TEST=${{ secrets.DB_URL }} -t my-app:test-tag .
      - name: Login to Docker
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Tag and Push Production Image
        run: |
          SHA=${{ github.sha }}
          docker tag my-app:test-tag docker.io/${{ secrets.DOCKER_USERNAME }}/fullstack-starter:${SHA}
          docker tag my-app:test-tag docker.io/${{ secrets.DOCKER_USERNAME }}/fullstack-starter:latest
          docker push docker.io/${{ secrets.DOCKER_USERNAME }}/fullstack-starter:${SHA}
          docker push docker.io/${{ secrets.DOCKER_USERNAME }}/fullstack-starter:latest
      - name: Trigger Deployment on Render
        if: ${{ github.event_name == 'push' }}
        run: curl https://api.render.com/deploy/srv-${{ secrets.RENDER_SERVICE_ID }}?key=${{ secrets.RENDER_API_KEY }}
